<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>SVG to XML Vector Drawable</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --light-background: #fff;
        --light-on-background: #000;
        --light-primary: #6750A4;
        --light-on-primary: #fff;
        --light-surface: #F3EDF7;
        --light-on-surface: #1C1B1F;
        --light-surface-variant: #E7E0EC;
        --light-on-surface-variant: #49454F;

        --dark-background: #1C1B1F;
        --dark-on-background: #E6E1E5;
        --dark-primary: #D0BCFF;
        --dark-on-primary: #381E72;
        --dark-surface: #2B2930;
        --dark-on-surface: #E6E1E5;
        --dark-surface-variant: #49454F;
        --dark-on-surface-variant: #CAC4D0;
    }

    html {
        font-family: 'Google Sans', sans-serif;
    }

    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: var(--light-background);
        color: var(--light-on-background);
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--dark-background);
            color: var(--dark-on-background);
        }
    }
</style>
